// ********************** About styling section***
.amanda-section {
    position: relative;
}

.about-page {
    width: 100%;
    padding-top: 0;
    @include mobile-break-width {
        width: 100%;
    }
    .main-header header {
        background: url(../../MTH-Assets/photos/about-hero.jpg) no-repeat;
        background-position-y: -75px;
        background-size: 100%;
        width: 100%;
        margin: 0 auto;
        @include mobile-break-width {
            width: 100%;
            background: grey;
        }
        .phone-number-white {
            color: white;
            padding-right: 13px;
        }
    }
    .MTH-logo-white {
        display: block;
        width: 30px;
    }
    .phone-white {
        display: block;
        height: 20px;
    }
    .hamburger {
        color: white;
    }
    .about-hero {
        height: 415px;
        text-align: center;
        color: #fff;
        width: 100%;
        height: 415px;
        background-position-y: -75px;
        // border: 1px solid #979797;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile-break-width {
            height: 770px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 125px;
        }
        .parallax-scroll-about {
            height: 300%;
            width: 100%;
            margin: 0 auto;
            background: url(../../MTH-Assets/photos/about-hero.jpg) no-repeat;
            background-size: 100%;
            z-index: -1;
            position: fixed;
            top: 0;
            background-position-y: -75px;
            @include mobile-break-width {
                background: url(../../MTH-Assets/photos/about-hero-desktop.png);
                width: 100%;
                background-size: cover;
                height: 770px;
                background-position: center center;
            }
        }
        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: normal;
            line-height: 41px;
            letter-spacing: 1p;
            @include mobile-break-width {
                font-size: 72px;
            }
        }
        p {
            font-size: 17px;
            line-height: 21px;
            width: 280px;
            margin: 0 auto;
            @include mobile-break-width {
                font-size: $medium-font-dt;
                width: 936px;
                line-height: 1.22;
            }
        }
    }
    h5 {
        font-size: 17px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 20px;
    }
}

.amanda-photo {
    width: 100%;
    height: 290px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background: white;
    @include mobile-break-width {
        background: url(../../MTH-Assets/photos/amanda-large.png);
        width: 541px;
        height: 560px;
        background-position: center center;
        background-size: cover;
        position: absolute;
        bottom: 60px;
        z-index: 1;
        img {
            @include mobile-break-width {
                display: none;
            }
        }
    }
}

.amanda-name-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @include mobile-break-width {
        width: 847px;
        height: 68px;
    }
}

.amanda-name {
    @include mobile-break-width {
        display: none;
    }
}

.amanda-name-desktop {
    display: none;
    @include mobile-break-width {
        display: initial;
        position: absolute;
        right: 22px;
        z-index: 2;
    }
}

.about-amanda {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 18px;
    padding: 10px;
    .about-amanda-text {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 40px;
        width: 270px;
        @include mobile-break-width {
            width: 705px;
            font-size: $small-font-dt;
            line-height: 1.36;
            left: initial;
            right: 50px;
        }
    }
    p {
        margin-bottom: 0;
        margin-top: 0;
        background: rgba(255, 255, 255, 0.7);
        color: $body-color;
    }
    .first-sentence {
        padding-left: 37px;
        margin: 0;
        margin-top: 5px;
    }
    .about-amanda-second-p {
        margin: 0;
    }
}

.i-in-about {
    font-family: "Brush Script MT";
    font-size: 56px;
    color: $body-color;
    line-height: 0;
    position: absolute;
    top: 43px;
}

.amanda-bg-mobile {
    @include mobile-break-width {
        display: none;
    }
}

.amanda-bg {
    margin: 0 auto;
    position: absolute;
    left: 10px;
    @include mobile-break-width {
        width: 1054px;
        height: 392px;
        background: url(../../MTH-Assets/photos/amanda-bg.png);
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: flex-end;
        margin-right: 0px;
    }
}

.education {
    text-align: center;
    padding: 0 25px;
    .amanda-road-map-wrapper {
        position: relative;
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .amanda-road-map {
        position: absolute;
        top: -13px;
        left: 36.5%;
        @include mobile-break-width {
            display: none;
        }
    }
    .amanda-road-map-desktop {
        display: none;
        @include mobile-break-width {
            position: absolute;
            top: -13px;
            left: 36.5%;
            display: inherit;
        }
    }
    .one {
        margin-top: 70px;
        @include mobile-break-width {
            width: 528px;
        }
    }
    .two {
        margin-top: 65px;
        @include mobile-break-width {
            width: 236px;
        }
    }
    .three {
        margin-top: 70px;
    }
    .four {
        margin-top: 58px;
    }
    .five {
        margin-top: 84px;
    }
    .six {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    h3 {
        text-transform: uppercase;
        color: black;
        font-size: $large-font;
    }
    h4 {
        font-size: $medium-font;
        color: $header-color;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
        @include mobile-break-width {
            font-size: $medium-font-dt;
        }
    }
    p {
        font-size: $small-font;
        margin: 0;
        line-height: 1.2;
        @include mobile-break-width {
            margin-bottom: 80px;
            font-size: $small-font-dt;
        }
    }
}

.green-mountains {
    position: absolute;
    top: 2110px;
}

.three {
    @include mobile-break-width {
        width: 574px;
        p {
            @include mobile-break-width {
                width: 367px;
            }
        }
    }
}

.one,
.three,
.five {
    @include mobile-break-width {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.two,
.four,
.six {
    @include mobile-break-width {
        text-align: left;
    }
}