.appointments-hero-image {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0, 53, 87, 0.76), rgba(0, 155, 132, 0.73)), url(../../MTH-Assets/photos/Hero-banner-appointments.png) no-repeat top;
    background-size: cover;
    height: 25vh;
    h1 {
        text-transform: uppercase;
        font-size: 17px;
        @include mobile-break-width {
            font-size: 48px;
        }
    }
    p {
        text-align: center;
        font-family: 'open_sans', 'sans-serif';
        font-weight: lighter;
        font-size: 15px;
        max-width: 80%;
        @include mobile-break-width {
            font-size: 22px;
            max-width: 800px;
        }
    }
    @include mobile-break-width {
        height: 320px;
    }
}

.text-stroke-box {
    border-radius: 10px 10px 0 10px;
    padding: 4px;
    background-image: linear-gradient(to top, #003d5c, #1a9481);
    border-image-source: linear-gradient(to top, #003d5c, #1a9481);
    border-image-slice: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    @include mobile-break-width {
        margin: 15px;
        width: 1324px/2;
        margin: 15px 0 15px 0;
        width: 49%;
    }
}

.stroke-box,
.stroke-box2,
.stroke-box3,
.stroke-box4,
.stroke-box5 {
    position: relative;
}

.appointments-wrapper {
    @include mobile-break-width {
        padding-top: 80px;
        width: 1364px;
        margin: 0 auto;
    }
}

.text-stroke-box-middle {
    height: 100%;
    padding: 4px;
    background: white;
    border-radius: 7px 7px 0 7px;
    h3 {
        margin-top: 10px;
        font-family: 'oswald', 'sans-serif';
        font-size: 17px;
        line-height: 0.67;
        color: #6a7059;
        @include mobile-break-width {
            font-size: 36px;
        }
    }
    p {
        margin: 1rem;
        ;
        margin-left: 0;
        font-family: 'open_sans', 'sans-serif';
        font-weight: lighter;
        line-height: 1.36;
        color: #003d5c;
        &:nth-child(2) {
            font-size: 15px;
            @include mobile-break-width {
                font-size: 22px;
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
            font-size: 15px;
            font-weight: bold;
            line-height: 0.69;
            color: #1a9481;
            @include mobile-break-width {
                font-size: 22px;
                padding: 1rem;
            }
        }
        .duration-style {
            color: #003d5c;
        }
    }
}

.text-stroke-box-inner {
    padding: 22px;
}

.photo-apointment1 {
    @include mobile-break-width {
        width: 100%;
        object-fit: cover;
    }
}

.appointments-wrapper-inner {
    width: 85%;
    margin: 0 auto;
    @include mobile-break-width {
        width: 1324px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        .photo-apointment1 {
            height: 480px;
        }
    }
}

.front-button-appointments {
    padding: .75rem 1.5rem;
    ;
}
.time-line-duration{
  width: 17rem;
}
