.archive-recipe-hero-image {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(90deg,rgba(0, 53, 87, 0.76),rgba(0, 155, 132, 0.73)), url(../../MTH-Assets/photos/Hero-banner-recipes-nutrition.png) no-repeat top;
    background-size: cover;
    height: 40vh;
    h1 {
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-family: 'open_sans', 'sans-serif';
        font-weight: light;
        font-size: 15px;
        @include mobile-break-width {
            max-width: 800px;
        }
    }
}
.archive-article-hero-image {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg,rgba(0, 53, 87, 0.76),rgba(0, 155, 132, 0.73)), url(../../MTH-Assets/photos/Hero-banner-articles.png) no-repeat top;
    background-size: cover;
    height: 40vh;
    h1 {
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-family: 'open_sans', 'sans-serif';
        font-weight: light;
        font-size: 15px;
        @include mobile-break-width {
            max-width: 800px;
        }
    }
}

.grid-archive-article {
  @include mobile-break-width {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

.article-nav-links-archive {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.article-single-wrapper {
  width: 632px;
    margin: 0 auto;
    padding-top: 2rem;
    @include mobile-break-width {
        margin: 9px;
    }
}

.article-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.article-single-image {
    width: 100%;
    height: 146px;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 10px;
    }
    @include mobile-break-width {
      height: 342px;

}

}

.article-grid-content {

  background: linear-gradient(90deg,rgba(0, 53, 87, 0.44),rgba(0, 155, 132, 0.41));
  width: 100%;
border-radius: 10px 10px 0 10px;
height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
justify-content: center;
align-items: center;
    h2 {
        text-transform: uppercase;
        font-size: 25px;
        a {
            color: white;

        &:visited {
            color: white;
        }}
    }
    a {
      font-family: 'oswald';
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
    &:visited {
        color: white;
    }
    @include mobile-break-width {
      font-size: 36px;
      line-height: 1.25;

}
  }
}

.article-archive-title {
    text-align: center;
}

.archive-entry-content p {
    font-size: 20px;
    color: #003d5c;
}

.load-more {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    color: #1a9481;
    a {
        margin: 0;
        padding-left: .75rem;
        color: #1a9481;
    }
}

.link-read-more-archive {
    display: flex;
    justify-content: center;
}
