.hero-article-image {
height: 280px;
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  @include mobile-break-width {
    width: 100%;
    height: 100%;
        img {
      width: 100%;
    }
}
}


.single-article-content {
    margin: 0 auto;
    max-width: 85%;
    @include mobile-break-width {
      max-width: 60%;
p{
  font-size: 22px;
}
    }
}

.entry-content-article p {
    font-family: 'open_sans', 'sans-serif';
    font-weight: light;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    color: #003d5c;
    &:nth-child(1) {
        &:first-letter {
            float: left;
            line-height: 70px;
            padding: 0px 19px 0px 0px;
            font-size: 4rem;
            font-family: "Edwardian Script ITC", "Brush Script MT", cursive;
            @include mobile-break-width {
              padding: 0px 25px 5px 3px;
              font-size: 5rem;
}

        }

    }
    @include mobile-break-width {
      font-size: 22px;


}
}

.entry-title-article {
    font-family: 'oswald', 'sans-serif';
    line-height: 1.24;
    text-align: center;
    color: #6a7059;
    display: block;
    width: 100%;
    @include mobile-break-width {
font-size: 36px;
}
}

header.entry-header-article {
    flex-direction: column;
}

.entry-meta-article {
    font-family: 'open_sans', 'sans-serif';
    font-weight: light;
    line-height: 2;
    text-align: center;
    font-size: 20px;
    color: #003d5c;
}

// styling the tow mountains
.mountain2 {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}

.mountain1 {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.mountains {
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}
.entry-header-article{
  h1{
    font-size: 1.5rem;
    @include mobile-break-width {
    font-size: 48px;
    width: auto;
}
  }

}
.article-nav-links-archive{
  @include mobile-break-width {
  font-size: 16px;
}
}
.related-posts-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile-break-width {
    flex-direction: row;
    width: 600*2px;
    margin: 0 auto;
    padding-bottom: 2rem;
}
}
.article-wrapper-related{
  margin: 10px 20px;
}
.thick-single{
  font-weight: bold;
}
