//I AM A... Book Appointment Page 

.page-template-book-appointment{
    max-width: 375px;
}

.secondary-hero{
    height: 188px;
    background-color: blueviolet;
    h1{
        text-align: center;
        font-family: 'Oswald';
        font-size: 28px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}
.appointment-hero-links{
    display: flex;
    justify-content: space-between;
}

// Book Appointment Page SmartMD Section 

.smartnd{
    h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-family: 'Oswald';
    }
}

.smartnd{
    .smartnd-span{
        color:rgba(126, 211, 33, 1.0);
    }
}