//I AM A... Book Appointment Page 

.page-template-book-appointment{
    max-width: 375px;
}

.secondary-hero{
    height: 188px;
    background-color: blueviolet;
    h1{
        text-align: center;
        font-family: 'Oswald';
        font-size: 28px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}
.appointment-hero-links{
    display: flex;
    justify-content: space-between;
}

// Book Appointment Page SmartMD Section 

.smartnd{
    h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-family: 'Oswald';
    }
}

.smartnd{
    .smartnd-span{
        color:rgba(126, 211, 33, 1.0);
    }
}

.smartnd{
    .smartnd-content{
        display: flex;
        justify-content: space-between;
        img{
            width: 50px;
            height: 50px;
            background-color: black;
            transform:translateY(25px);
        }
    }
}

.smartnd-content{
    p{
        color: $body-color;
        text-align: center;
        font-size: 12px;
        margin:0px;
        height: 51px;
    }
}

.smartnd-content{
    .smartnd-items{
        display:flex;
        flex-direction: column;
        align-items: center;
        div{
            border:1px solid rgba(0, 143, 127, 1.0);
            height: 75px;
            width: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}

.smartnd{
    .uses-smartmd{
        text-align: center;
        font-size: 20px;
        color: #4A4A4A;
        font-family: 'Oswald';
    }
}