//I AM A... Book Appointment Page 

.page-template-book-appointment{
    max-width: 375px;
}
.book-appointment-hero{
    height: 123px;
    background: url(../../MTH-Assets/photos/book-appointment-hero.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items:center;
    h1{
        color:white;
        text-transform: uppercase;
        font-size: $medium-font;
        font-weight: normal;
    }
}
