.contact-us {
    text-align: center;
    .contact-us-hero {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(../../MTH-Assets/photos/hero-visual-banner-contact-us@3x.png) no-repeat top;
        background-size: cover;
        height: 319px;
        h1 {
            text-transform: uppercase;
            @include mobile-break-width {
                font-size: 48px;
            }
        }
        p {
            text-align: center;
            font-family: 'open_sans', 'sans-serif';
            font-weight: light;
            font-size: 15px;
            @include mobile-break-width {
                max-width: 800px;
            }
        }
    }
    iframe {
        width: 280px;
        height: 159px;
        margin: 10px;
        border: 0;
        box-shadow: 0px 6px 12px 0 rgba(144, 144, 144, 0.4);
        @include mobile-break-width {
            width: 960px;
            height: 482px;
        }
    }
    .external-link {
        font-family: 'open_sans', 'sans-serif';
        font-weight: light;
        font-size: 12px;
        line-height: 1.5;
        color: #1a9481;
        cursor: pointer;
    }
    .x-icon {
        position: absolute;
        top: 196px;
        left: 53.5%;
        z-index: 3
    }
    h1 {
        font-weight: normal;
        font-size: $medium-font;
        text-transform: uppercase;
    }
    h2 {
        text-transform: uppercase;
        color: $header-color;
        font-size: $medium-font;
        @include mobile-break-width {
            font-size: 36px;
        }
    }
    p {
        font-size: $small-font;
        @include mobile-break-width {
            font-size: 22px;
        }
    }
    .call,
    .send-us-a-message,
    .open-hours {
        font-weight: bold;
    }
    .number-and-icon {
        display: flex;
        width: 280px;
        height: 35px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        .phone-number {
            color: #1a9481;
            font-size: $medium-font;
            text-decoration: none;
            padding-left: 8px;
        }
        img {
            width: 28px;
        }
    }
    .wpcf7-form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        @include mobile-break-width {
            width: 1100px;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: wrap;
            p:nth-child(8) {
                width: 1100px;
                textarea {
                    width: 100%;
                }
            }
            p:nth-child(2),
            p:nth-child(3),
            p:nth-child(4),
            p:nth-child(5),
            p:nth-child(6),
            p:nth-child(7) {
                width: 494px;
                input {
                    width: 100%;
                }
            }
            p:nth-child(9) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    // div.wpcf7-mail-sent-ok {
    //     padding: 0.2em 1em;
    //     position: absolute;
    //     top: 0;
    //     position: absolute;
    //     top: 86px;
    //     width: 320px;
    //     height: 125px;
    //     margin: 0 auto;
    //     left: 0;
    //     color: white;
    //     text-align: center;
    //     background: url(../../MTH-Assets/other/message-sent-bg.png);
    //     border: none;
    //     ;
    // }
    label {
        font-size: $small-font;
        line-height: 19px;
        color: #003d5c;
        @include mobile-break-width {
            font-size: 22px;
        }
    }
    input {
        width: 280px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #919191;
        border-radius: 4px;
        color: rgba(155, 155, 155, 0.6);
        padding-left: 15px;
        @include mobile-break-width {
            font-size: 22px;
        }
    }
    textarea {
        width: 280px;
        height: 280px;
        background-color: #FFFFFF;
        border: 1px solid #919191;
        border-radius: 4px;
    }
    input[type="submit"] {
        width: 180px;
        height: 40px;
        border-radius: 20px;
        color: #fff;
        margin: 0 50px;
        box-shadow: none;
        border: none;
        padding: 0;
        background: linear-gradient(90deg, #003557 0%, #009B84 100%);
        font-family: 'open_sans', 'sans-serif';
        p {
            margin: 0;
        }
    }
    .hours {
        color: $header-color;
    }
}

.or {
    display: flex;
    margin: 0 auto;
    padding: 19px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #003d5c;
    p {
        padding-top: 5px;
        border: 8px solid white;
    }
    img {
        width: 120px;
    }
    @include mobile-break-width {
        img {
            width: 525px;
            height: 2px;
            background-color: #003d5c;
        }
        p {
            border: 15px solid white;
        }
    }
}

.grey-background {
    background: #eee;
}
div.wpcf7-response-output{
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
position: absolute;
top: 5rem;
height: 320px;
width: 100%;
font-size: 15px;
@include mobile-break-width {
width: 1100px;
font-size: 22px;
}
}
.contact-us .x-icon{
  position: absolute;
      top: 24.3rem;
      left: 50%;
      z-index: 3;
    }
