/* footer */

.newsletter {
    background-color: #e5e5e5;
    text-align: center;
    p {
        width: 170px;
        font-family: 'open_sans', 'sans-serif';
        font-size: 14px;
        font-weight: light;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.09;
        color: #6a7059;
        margin: 0 auto;
        @include mobile-break-width {
            width: 100%;
        }
    }
}

.mountain-logo-footer {
    width: 100%;
}

.footer-title {
    font-family: 'oswald', 'sans-serif';
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.41;
    text-align: center;
    color: #6a7059;
    padding: 1rem 1.5rem;
    margin: 0;
    font-weight: normal;
    @include mobile-break-width {
        font-size: 22px;
    }
}

.copy-footer {
    background-color: #003A5F;
    p {
        font-size: 12px;
        width: 90%;
        text-align: center;
        line-height: 15px;
        color: #FFFFFF;
        margin: 0;
        padding: 14px 0;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    .footer-email {
        border-radius: 4px;
        background-image: linear-gradient(to top, #ffffff, #ffffff);
        border: solid 1px #919191;
        margin: 20px;
        height: 45px;
        @include mobile-break-width {
            width: 400px;
        }
    }
    @include mobile-break-width {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

input::-webkit-input-placeholder {
    font-family: 'open_sans', 'sans-serif';
    font-weight: light;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #d1d0d0;
    padding-left: 14px;
    @include mobile-break-width {
        font-size: 22px;
    }
}

.primary-button-subscribe {
    padding: 0 3rem;
    height: 40px;
    font-weight: lighter;
    border-radius: 30px;
    width: 180px;
    @include mobile-break-width {
        margin: 20px 20px 20px 0;
        width: 220px;
        height: 60px;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    @include mobile-break-width {
        flex-direction: row;
        justify-content: space-around;
        width: 1300px;
        margin: 0 auto;
    }
}

.footer_wrapper {
    margin: 15px 25px;
    text-align: center;
    p {
        margin-top: 0;
        font-family: 'open_sans', 'sans-serif';
        font-weight: light;
        font-size: 14px;
        line-height: 1.6;
        color: #003d5c;
        padding: 0 3rem;
        @include mobile-break-width {
            font-size: 16px;
        }
    }
    @include mobile-break-width {
        // flex-basis: 33%;
        text-align: left;
        h2 {
            text-align: left;
            padding-left: 0;
        }
        p {
            padding: 0;
        }
    }
}

.link-footer {
    font-family: 'open_sans', 'sans-serif';
    font-weight: light;
    top: -6px;
    position: relative;
    color: #1a9481;
}

.thick-span {
    font-weight: bold;
}

.contact_icon_img {
    display: flex;
    align-items: baseline;
    justify-content: center;
    @include mobile-break-width {
        justify-content: flex-start;
        img {
            width: 30px;
            object-fit: contain;
        }
    }
    img {
        width: 25px;
        margin-right: 1rem;
    }
}