
/* footer */
.newsletter {
	background: #DCDCDC;
	p {
font-family: "Open Sans";
font-size: 14px;
text-align: center;
line-height: 19px;
color: #677257;
	}
}
.mountain-logo-footer {
	width:100%;
}
.footer-title {
font-weight: 300;
font-family: 'oswald';
font-size: 26px;
text-align: center;
line-height: 26px;
color: #677257;
}

.copy-footer p{
background-color: #003A5F;
margin:0;
height: 15px;
padding: 1.25rem 1.5rem;
/*font-family: Lato;*/
font-size: 12px;
text-align: center;
line-height: 15px;
color: #FFFFFF;
}

