.site-main {
    p {
        font-size: 15px;
        font-family: 'open_sans';
        @include mobile-break-width {
            font-size: $small-font-dt;
        }
    }
}

.site-main {
    h2,
    h3 {
        font-family: 'oswald';
        font-weight: normal;
    }
}

.parallax-scroll {
    top: 40px;
    height: 300%;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    background: url(../../MTH-Assets/photos/mobile-front-hero.png) no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
}

.hero-banner {
    max-width: 320px;
    height: 480px;
    background-size: cover;
    color: white;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    @include mobile-break-width {
        max-width: 1764px;
        height: 770px;
        background: url(../../MTH-Assets/photos/front-page-desktop-hero.png);
        background-size: cover;
        background-position: center center;
    }
    .hero-header {
        font-size: 28px;
        text-align: right;
        margin-bottom: 20px;
        margin-top: 0px;
        line-height: 41px;
        letter-spacing: 3px;
        font-family: 'Oswald';
        text-transform: uppercase;
        text-align: center;
        @include mobile-break-width {
            font-size: 72px;
            letter-spacing: normal;
            padding-top: 375px;
            margin-bottom: 40px;
        }
    }
}

.hero-banner {
    p {
        font-size: 14px;
        font-family: 'open_sans';
        text-align: center;
        line-height: 21px;
        margin-top: 0px;
        margin-bottom: 104px;
        width: 273px;
        margin-left: auto;
        margin-right: auto;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            width: 1050px;
            line-height: 1.22;
            margin-bottom: 125px;
        }
    }
}

.booking {
    .what-is-hero {
        font-size: 17px;
        text-align: center;
        @include mobile-break-width {
            font-size: $medium-font-dt;
        }
    }
}

.hero-banner {
    .keep-scrolling {
        background: url(../../MTH-Assets/icons/down-arrow.png);
        background-size: cover;
        height: 26px;
        width: 26px;
        background-color: #1a9481;
        margin: 0 auto;
        border-radius: 20000px;
        @include mobile-break-width {
            width: 50px;
            height: 50px;
        }
    }
}

.header-text {
    text-align: center;
    a {
        text-decoration: none;
        color: white;
        font-family: 'open_sans';
    }
}

.underline-strip {
    width: 160px;
    height: 4px;
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    border-radius: 2px;
    margin: 0 auto;
}

.front-button {
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 200px;
    color: white;
}

//Front Page Booking Section
.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: #003A5F;
        width: 277px;
        text-align: center;
        margin-top: 0px;
        @include mobile-break-width {
            font-size: $small-font-dt;
            width: 807px;
        }
    }
}

.booking {
    div {
        margin-top: 330px;
        width: 280px;
        height: 105px;
        background: url(../../MTH-Assets/photos/naturopathy-visual-desktop.png);
        background-size: cover;
        margin-top: 0px;
        @include mobile-break-width {
            width: 75%;
            height: 500px;
        }
    }
}

//Front Page Benifits Section
.benifits {
    background: url(../../MTH-Assets/photos/icons-bg.png);
    background-size: cover;
    height: 299px;
    display: flex;
    flex-wrap: wrap;
    @include mobile-break-width {
        background: linear-gradient(to right, #1a9481, #9bcc93);
        max-width: 1764px;
        height: 598px;
        position: relative;
        justify-content: center;
    }
    h2 {
        color: white;
        text-align: left;
        font-size: 17px;
        max-width: 186px;
        flex: 1 0 90%;
        margin-top: 20px;
        margin-bottom: 19px;
        line-height: 21px;
        text-transform: uppercase;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            flex: 1 0 100%;
            max-width: 693px;
            width: 693px;
            position: absolute;
            margin-top: 76px;
        }
    }
}

.benifits-list {
    line-height: 22px;
    color: white;
    margin-left: 62px;
    font-size: 15px;
    list-style-image: url(../../MTH-Assets/other/leaf.png);
    @include mobile-break-width {
        font-size: $small-font-dt;
        margin-top: 152px;
        line-height: 1.8;
    }
}

.checkboard {
    max-width: 29px;
    height: 37px;
    background: url(../../MTH-Assets/icons/checkmark-icon.png);
    flex: 1 0 10%;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 8px;
    @include mobile-break-width {
        width: 296px;
        max-width: 296px;
        height: 366px;
        background: url(../../MTH-Assets/icons/benefits-icon-desktop.png);
        background-size: cover;
        background-position: center center;
        margin-top: 152px;
    }
}

// Front Page Compared to Traditional Section
.compare-flex {
    @include mobile-break-width {
        display: flex;
        justify-content: center;
    }
}

.compare-to-traditional {
    h2 {
        font-size: 17px;
        text-align: center;
        color: #677257;
        text-transform: uppercase;
        width: 194px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 29px;
        margin-bottom: 20px;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            width: 100%;
        }
    }
}

.compare-to-traditional {
    .compare-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile-break-width {
            width: 500px;
        }
    }
}

.compare-content {
    p {
        text-align: center;
    }
}

.compare-content {
    .note {
        font-size: 11px;
        color: #677257;
        margin-top: 0px;
        display: none;
    }
}

.compare-to-traditional {
    .clock {
        width: 75px;
        height: 75px;
        background: url(../../MTH-Assets/icons/time.png);
        background-size: contain;
        @include mobile-break-width {
            width: 158px;
            height: 158px;
            background: url(../../MTH-Assets/icons/time-desktop.png);
        }
    }
}

.compare-to-traditional {
    .silouette {
        width: 60px;
        height: 75px;
        background: url(../../MTH-Assets/icons/user.png);
        background-size: cover;
        @include mobile-break-width {
            background: url(../../MTH-Assets/icons/user-desktop.png);
            width: 125px;
            height: 158px;
        }
    }
}

.compare-to-traditional {
    h3 {
        color: #003A5F;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 19px;
        margin-top: 20px;
        @include mobile-break-width {
            font-size: $small-font-dt;
        }
    }
}

.compare-content {
    ul {
        color: #003A5F;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 22px;
        list-style-image: url(../../MTH-Assets/other/leaf.png);
        @include mobile-break-width {
            font-size: $small-font-dt;
            line-height: 2.05;
        }
    }
}

.silouette-ul {
    color: #003A5F;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 255px;
    margin-left: 46px;
    font-size: 15px;
    line-height: 22px;
    list-style-image: url(../../MTH-Assets/other/leaf.png);
    @include mobile-break-width {
        width: 70%;
    }
}

//Front Page What is section
.white-box {
    display: flex;
    flex-direction: column;
    @include mobile-break-width {
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        height: 428px;
        width: 1760px;
        max-width: 62%;
    }
}

.what-is-header {
    display: flex;
    height: 292px;
    flex-direction: column;
    background: url(../../MTH-Assets/photos/front-page-bg.png);
    background-size: cover;
    background-position: center;
    @include mobile-break-width {
        height: 770px;
        background: url(../../MTH-Assets/photos/inside-visual-desktop.png);
        background-size: cover;
        background-position: center center;
        justify-content: center;
        align-items: center;
    }
    p {
        max-width: 246px;
        font-size: 15px;
        color: #003d5c;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        margin-top: 50px;
        margin-bottom: 20px;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            max-width: 77.6%;
            margin-bottom: 40px;
        }
    }
}

.what-is-button {
    margin-bottom: 30px;
}

.what-is-button:visited {
    color: white;
}

.flex-button {
    margin: 0 auto;
    border: 0;
}

//Front page slider div
.carousel-cell {
    height: 300px;
    width: 320px;
    text-align: center;
    margin-bottom: 30px;
    p {
        color: white;
        width: 278px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.27;
        margin-bottom: 60px;
    }
    h2 {
        font-size: $medium-font;
        color: $body-color2;
        text-transform: uppercase;
        padding-top: 60px;
    }
}

.front-page-slider {
    background: url(../../MTH-Assets/photos/carousal-01.png);
    background-size: cover;
    background-position: center;
}

.front-page-slide-2 {
    background: url(../../MTH-Assets/photos/carousel-2.jpg);
    background-size: cover;
    background-position: center;
}

.front-page-slide-3 {
    background: url(../../MTH-Assets/photos/carousel-3.jpg);
    background-size: cover;
    background-position: center;
}

.flickity-prev-next-button:disabled {
    display: none;
}

//Front Page Did You Know Section
.did-you-know {
    h2 {
        color: #677257;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px;
        @include mobile-break-width {
            font-size: $medium-font-dt;
        }
    }
}

.did-you-know {
    .did-you-know-pic {
        background: url(../../MTH-Assets/photos/amanda-visual.png);
        background-size: cover;
        width: 280px;
        height: 196px;
        @include mobile-break-width {
            max-width: 24.26%;
            height: 300px;
            background-position: center center;
        }
    }
}

.did-you-know {
    display: flex;
    flex-direction: column;
    align-items: center;
    .number-circle {
        background: url(../../MTH-Assets/other/number-bg.png);
        width: 46px;
        height: 46px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(25px);
        p {
            box-shadow: none;
            margin: 0;
            font-size: $medium-font;
        }
    }
}

.did-you-know {
    .did-you-know-bg {
        width: 280px;
        box-shadow: 0px 6px 12px 0 rgba(144, 144, 144, 0.4);
        background-color: white;
        @include mobile-break-width {
            width: 49.77%;
            height: 139px;
        }
        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.2;
            @include mobile-break-width {
                font-size: $small-font-dt;
            }
        }
    }
}

.did-you-know {
    .did-you-know-bg-1 {
        height: 155px;
        p {
            width: 256px;
            margin-top: 33px;
            @include mobile-break-width {
                width: 93%;
            }
        }
    }
}

.did-you-know {
    .did-you-know-bg-2 {
        height: 123px;
        p {
            width: 238px;
            margin-top: 33px;
            @include mobile-break-width {
                width: 86.6%;
            }
        }
    }
}

.did-you-know {
    .did-you-know-bg-3 {
        height: 141px;
        p {
            width: 255px;
            margin-top: 33px;
            @include mobile-break-width {
                width: 93.1%;
            }
        }
    }
}

.how-can {
    text-align: center;
    margin-bottom: 15px;
    h4 {
        @include mobile-break-width {
            font-size: $medium-font-dt;
        }
    }
}

.site-main {
    .all-visits {
        display: none;
        @include mobile-break-width {
            display: initial;
            display: flex;
            justify-content: center;
            margin: 0px;
            font-size: 18px;
        }
    }
}