.primary-button {
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: none;
    color: white;
    padding: 0 5px;
    a {
        color: white;
        text-decoration: none;
        font-weight: lighter;
        &:visited {
            color: white;
        }
        &:hover {
            color: #fdeea7;
        }
    }
}

.small-button {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: lighter;
    @include mobile-break-width {
        height: 60px;
        width: 220px;
        border-radius: 30px;
        font-size: 22px;
        a {
            font-size: 22px;
        }
    }
}

.large-button {
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: lighter;
    @include mobile-break-width {
        height: 60px;
        width: 280px;
        border-radius: 30px;
        font-size: 22px;
        a {
            font-size: 22px;
        }
    }
}

.how-can-we-help-you {
    // font-family: Oswald;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    color: #003A5F;
    font-weight: normal;
    @include mobile-break-width {
        font-size: $medium-font-dt;
    }
}

a {
    text-decoration: none;
    color: white;
    &:visited {
        color: white;
    }
    &:hover {
        color: #fdeea7;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../MTH-Assets/other/organic-bg-mobile.jpg);
    background-size: contain;
    @include mobile-break-width {
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../MTH-Assets/other/organic-bg.jpg);
        width: 1364px;
        overflow: scroll;
    }
}

.site-main,
.main-header,
.content-area,
{
    // max-width: 320px;
    margin: 0 auto;
    @include mobile-break-width {
        // max-width: 1364px;
    }
}

.content-area,
{
    padding-top: 40px;
    @include mobile-break-width {
        padding-top: 110px;
    }
}

.front-button:hover {
    color: #fdeea7
}

.bread-crumb-general {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: lighter;
}

.nav-links {
    color: #1a9481;
    font-family: 'open_sans', 'sans-serif';
    font-weight: light;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    p {
        margin: 0;
        font-weight: bold;
    }
    a {
        color: #1a9481;
        &:visited {
            color: #1a9481;
        }
    }
}