    header {
        z-index: 1;
        display: flex;
        p {
            margin: 0;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
    
    .MTH-logo {
        width: 40px;
        height: 40px;
    }