p,li{
    font-size: 14px;
}
.home{
    max-width: 375px;
}
// css for hero banner section
.hero-banner{
    max-width: 375px;
    height: 756px;
    background-color:darkgreen;
    color:white;
    .hero-header{
        font-size: 28px;
        text-align: right;
        margin-right: 8rem;
        line-height: 41px;
        letter-spacing: 3px;
    }
}

.hero-banner{
    p{
        font-size: 14px;
        font-family: Open-sans;
        text-align: center;
        line-height: 21px;
    }
}
.hero-banner{
    .what-is-hero{
        font-size: 24px;
        text-align: center;
    } 
}

.header-text{
    text-align: center;
    a{
        text-decoration: none;
        color:white;
    }
}