.hero-banner{
    max-width: 375px;
    height: 756px;
    background-color:darkgreen;
    color:white;
    .hero-header{
        font-size: 28px;
    }
}

.hero-banner{
    p{
        font-size: 14px;
    }
}

.what-is-header{
    font-family: 24px;
}