//404 Page Section 
.error404{
    max-width: 375px;
}
.error-hero{
    font-size: 24px;
    color:white;
    p{
        text-align: center;
        font-size: 18px;
        font-family: 'Oswald'
    }
}

.not-found-content{
    margin-top: 34.2px;
    display:flex;
    justify-content: space-between;
    img{
        width:61px;
        height:73px;
        background-color:black;
    }
}

.not-found-content{
    .text-bubble{
        width:78px;
        height:73px;
        background-color:black;
    }
}

.not-found-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.not-found-content{
    p{
        color:$body-color;
        font-size: 12px;
    }
}

.not-found-button{
    margin-bottom: 30px;
}