//404 Page Section
.error404 {

}
.error-hero {
    height: 123px;
    text-align: center;
    color: white;
    background: url(../../MTH-Assets/photos/404-hero-desktop.png), no-repeat top;
    background-size: cover;
    background-position: center center;
    @include mobile-break-width {
        height: 320px;
    }
    p {
        text-align: center;
        font-size: 15px;
        width: 262px;
        margin-top: 17px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'open_sans', 'sans-serif';
        font-weight: light;
        line-height: 1.2;
        @include mobile-break-width {
            font-size: $small-font-dt;
            width: 100%;
        }
    }
}

.error-hero {
    h1 {
        font-size: $medium-font;
        font-weight: normal;
        margin: 0px;
        padding-top: 25px;
        @include mobile-break-width {
            font-size: $large-font-dt;
            padding-top: 108px;
        }
    }
}

.not-found-content {
    margin-top: 34.2px;
    display: flex;
    flex-direction: column;
    @include mobile-break-width {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .not-found-apple {
        width: 80px;
        height: 96px;
        background: url(../../MTH-Assets/icons/apple.png);
        background-size: cover;
        background-position: center center;
        @include mobile-break-width {
            width: 115px;
            height: 138px;
        }
    }
}

.not-found-content {
    .text-bubble {
        width: 80px;
        height: 74px;
        background: url(../../MTH-Assets/icons/message.png);
        background-size: cover;
        background-position: center center;
        @include mobile-break-width {
            width: 124px;
            height: 114px;
        }
    }
}

.not-found-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a{
      color: white;
      font-family: 'open_sans', 'sans-serif';
      font-size: 22px;
font-weight: lighter;
      &:visited{
        color: white;
      }
    }
    @include mobile-break-width {
 margin: 2% 10%;
    }
}

.not-found-content {
    p {
        color: $body-color;
        font-size: $small-font;
        @include mobile-break-width {
            font-size: $small-font-dt;
            width: 100%;
        }
    }
}

.not-found-button {
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 30px;
    border-radius: 20000px;
    color: white;
}

.mountain-not-found {
    height: 20px;
    @include mobile-break-width {
        height: 109px;
        width: 100%;
    }
}
