.redirect{
    text-align: center;
    h2{
        font-size: $small-font;
        color:#003d5c;
        font-family: "opens_sans";
        margin-bottom: 10px;
    }
}

.redirect{
    h3{
        margin-top: 10px;
        font-size: $medium-font;
        color: #003d5c;
        line-height: 1.2;
        span{
            font-size: 24px;
        }
    }
}

.redirect{
    p{
        margin-top:0px;
        margin-bottom: 30px;
    }
}

.redirect{
    a{
        color:#1a9481;
        font-size:12px;
    }
}

.redirect{
    a:visited{
        color: #1a9481;
    }
}