.redirect {
    text-align: center;
    h2 {
        font-size: $small-font;
        color: #003d5c;
        font-family: "opens_sans", 'sans-serif';
        font-weight: light;
        margin-bottom: 10px;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            font-family: "open_sans", 'sans-serif';
            font-weight: light;
        }
    }
}

.redirect {
    h3 {
        margin-top: 10px;
        font-size: $medium-font;
        color: #003d5c;
        line-height: 1.2;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            font-weight: normal;
            font-family: "open_sans", 'sans-serif';
            font-weight: light;
            margin-bottom: 40px;
        }
        span {
            font-size: 24px;
            @include mobile-break-width {
                font-size: $medium-font-dt;
                font-weight: bold;
            }
        }
    }
}

.redirect {
    p {
        margin-top: 0px;
        margin-bottom: 30px;
        @include mobile-break-width {
            font-family: "open_sans", 'sans-serif';
            font-weight: light;
        }
    }
}

.redirect {
    a {
        color: #1a9481;
        font-size: 12px;
        @include mobile-break-width {
            font-size: $small-font-dt;
        }
    }
}

.redirect {
    a:visited {
        color: #1a9481;
    }
}

.redirect {
    img {
        @include mobile-break-width {
            width: 179px;
            height: 29px;
            transform: translateY(10px);
            margin-left: 15px;
        }
    }
}

.redirect-head-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include mobile-break-width {
flex-direction: row;
}
}
.why-use-all{
  flex-flow: wrap;
  // justify-content: space-around;
}
.why-use-smartnd-content{
  margin: 0 4rem;


}
.why-use-upper{
  justify-content: space-around;
}
.why-use-lower{
  justify-content: space-around;

}
