// Structure
$base__space-unit: 1.5em;
// Colors
$color__background-body: #fff;
$color__text-main: #404040;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
// Typography
$font__main: sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
// Our Variables 
// font colors
$header-color: #677257;
$body-color:#003A5F;
$body-color2:#fff;
$nav-color:#009B84;
// font sizes 
$large-font:24px;
$medium-font:17px;
$small-font:15px;
$mobile-break-width: 480px;
$large-font-dt: 37px;
$medium-font-dt: 28px;
$small-font-dt:17px;