// What we do Styling Section ***********************************
// **************************************************************
.what-we-do {
    width: 320px;
    .what-we-do-hero {
        background: url(../../MTH-Assets/photos/what-we-do-hero.jpg);
        width: 320px;
        height: 125px;
        display: flex;
        text-align: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 52px;
        padding: 18px;
        h1 {
            font-size: 17px;
            margin: 0;
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            font-size: 15px;
            line-height: 19px;
            margin: 0;
        }
    }
    h2 {
        text-transform: uppercase;
        color: #677257;
        font-size: 17px;
        line-height: 26px;
    }
    .experience {
        width: 280px;
        height: 330px;
        background: linear-gradient(90deg, #479682 0%, #9ACC91 100%);
        text-align: center;
        color: #FFFFFF;
        padding: 20px 25px;
        margin: 0 auto;
        margin-bottom: 20px;
        h3 {
            font-family: Oswald;
            font-size: 17px;
            line-height: 36px;
            text-transform: uppercase;
            line-height: 1.41;
        }
        h4 {
            text-transform: uppercase;
            line-height: 26px;
            font-size: 18px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                font-size: 15px;
                line-height: 18px;
            }
        }
        p {
            margin: 0;
            margin-top: 15px;
            font-weight: bold;
        }
    }
}

.treatments-testing-appointments {
    .treatments,
    .testing,
    .appointments {
        width: 280px;
        height: 240px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin: 0 20px;
        padding: 28px;
        margin-bottom: 50px;
        .gradient-border-box {
            position: absolute;
        }
        p {
            text-align: center;
            color: $body-color;
        }
    }
}

.learn-more {
    width: 180px;
    height: 42px;
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 215px;
    a {
        // font-family: "Open Sans";
        font-size: 14px;
        text-align: center;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.care-conditions {
    text-align: center;
    h2 {
        margin: 0;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 19px;
        color: #003A5F;
    }
    .underline-strip {
        width: 120px;
        height: 3px;
        background: linear-gradient(90deg, #003557 0%, #009B84 100%);
        border-radius: 4px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    p {
        font-weight: bold;
    }
}

.picture-of-remedies {
    height: 145px;
    width: 280px;
    background: url(../../MTH-Assets/photos/picture-of-remedies.jpg);
    margin: 0 auto;
    margin-top: 30px;
}

.what-is-naturopathic-medicine {
    height: 165px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    color: $body-color;
    h2 {
        margin: 0;
        margin-bottom: 20px;
    }
}