// What we do Styling Section ***********************************
// **************************************************************
.what-we-do {
    margin: 0 auto;
    .what-we-do-hero {
        background: url(../../MTH-Assets/photos/what-we-do-desktop.png) no-repeat top;
        background-size: cover;
        width: 100%;
        height: 125px;
        display: flex;
        text-align: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 18px;
        @include mobile-break-width {
            height: 320px;
        }
        h1 {
            font-family: 'oswald';
            font-size: 17px;
            margin: 0;
            font-weight: normal;
            text-transform: uppercase;
            @include mobile-break-width {
                font-size: $large-font-dt;
                margin-bottom: 20px;
            }
        }
        p {
            font-size: 15px;
            line-height: 19px;
            margin: 0;
            font-family: 'open_sans';
            @include mobile-break-width {
                font-size: $small-font-dt;
                width: 812px;
                line-height: 1.36;
            }
        }
    }
    h2 {
        font-family: 'oswald';
        text-transform: uppercase;
        color: #677257;
        font-size: 17px;
        line-height: 26px;
        @include mobile-break-width {
            font-size: $medium-font-dt;
            margin-top: 0;
            padding-top: 60px;
        }
    }
    .what-we-do-bread {
        margin-bottom: 30px;
    }
    .experience {
        width: 280px;
        background: linear-gradient(90deg, #479682 0%, #9ACC91 100%);
        text-align: center;
        color: #FFFFFF;
        padding: 20px 25px;
        margin: 0 auto;
        margin-bottom: 20px;
        @include mobile-break-width {
            width: 100%;
            height: 394px;
        }
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 17px;
            line-height: 36px;
            text-transform: uppercase;
            line-height: 1.41;
            @include mobile-break-width {
                font-size: $medium-font-dt;
                margin-bottom: 20px;
            }
        }
        h4 {
            text-transform: uppercase;
            line-height: 26px;
            font-size: 18px;
            @include mobile-break-width {
                font-size: $medium-font-dt;
            }
        }
        ul {
            font-family: 'open_sans';
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                font-size: 15px;
                @include mobile-break-width {
                    font-size: $small-font-dt;
                    line-height: 1.36;
                }
            }
        }
        p {
            margin: 0;
            margin-top: 15px;
            font-weight: bold;
            @include mobile-break-width {
                font-size: $small-font-dt;
            }
        }
    }
}

.treatments-testing-appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-break-width {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 140px;
    }
    .treatments,
    .testing,
    .appointments {
        width: 280px;
        height: 240px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin: 0 20px;
        padding: 28px;
        margin-bottom: 50px;
        @include mobile-break-width {
            width: 428px;
            height: 446px;
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0px;
            justify-content: flex-start;
        }
        .gradient-border-box {
            position: absolute;
            @include mobile-break-width {
                width: 428px;
                height: 446px;
            }
        }
        p {
            text-align: center;
            color: $body-color;
            @include mobile-break-width {
                font-size: $small-font-dt;
            }
        }
    }
}

.learn-more {
    width: 180px;
    height: 42px;
    background: linear-gradient(90deg, #003557 0%, #009B84 100%);
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 215px;
    @include mobile-break-width {
        top: 439px;
        left: 105px;
        bottom: -20px;
        width: 220px;
        height: 60px;
        border-radius: 30px;
    }
    a {
        // font-family: "Open Sans";
        font-size: 14px;
        text-align: center;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: lighter;
        @include mobile-break-width {
            font-size: $small-font-dt;
        }
        &:hover {
            color: #fdeea7;
        }
    }
}

.care-conditions {
    text-align: center;
    @include mobile-break-width {
        display: flex;
        justify-content: space-around;
    }
    h2 {
        margin: 0;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 19px;
        color: #003A5F;
        font-family: 'open_sans', sans-serif;
        ;
        font-size: 15px;
        line-height: 1.4;
        text-align: center;
        color: #003d5c;
    }
    .underline-strip {
        width: 120px;
        height: 3px;
        background: linear-gradient(90deg, #003557 0%, #009B84 100%);
        border-radius: 4px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    p {
        font-weight: bold;
    }
}

.picture-of-remedies {
    height: 145px;
    width: 280px;
    background: url(../../MTH-Assets/photos/picture-of-remedies.jpg);
    margin: 0 auto;
    margin-top: 30px;
    @include mobile-break-width {
        margin: 0px;
        width: 540px;
        height: 280px;
        background: url(../../MTH-Assets/photos/naturopathy-visual-desktop.png);
        background-size: cover;
        background-position: center center;
    }
}

.what-is-naturopathic-medicine {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    color: $body-color;
    box-shadow: 0px 6px 12px 0 rgba(144, 144, 144, 0.4);
    @include mobile-break-width {
        margin: 0;
        width: 729px;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 0;
        margin-bottom: 20px;
        @include mobile-break-width {
            font-size: 32px;
            text-align: left;
        }
    }
    p {
        font-family: 'open_sans', sans-serif;
    }
}

.treatments {
    @include mobile-break-width {
        order: 1;
    }
}

.testing {
    @include mobile-break-width {
        order: 2;
    }
}

.appointments {
    @include mobile-break-width {
        order: 3;
    }
}

.lab-beaker {
    @include mobile-break-width {
        display: none;
    }
}

.lab-desktop {
    display: none;
    @include mobile-break-width {
        display: initial;
    }
}

.calendar-logo {
    @include mobile-break-width {
        display: none;
    }
}

.appointment-desktop {
    display: none;
    @include mobile-break-width {
        display: initial;
    }
}

.stethascope-logo {
    @include mobile-break-width {
        display: none;
    }
}

.treatment-desktop {
    display: none;
    @include mobile-break-width {
        display: initial;
    }
}

.what-we-medicine {
    @include mobile-break-width {
        display: flex;
        justify-content: flex-start;
        ;
        height: 280px;
        box-shadow: 0px 6px 12px 0 rgba(144, 144, 144, 0.4);
        width: 1200px;
        margin: 0 auto;
    }
}

.what-is-naturopathic-medicine {
    p {
        @include mobile-break-width {
            font-size: $small-font-dt;
            width: 729px;
            text-align: left;
        }
    }
    @include mobile-break-width {
        justify-content: flex-end;
    }
}

.what-we-do {
    .how-can-we-help-you {
        padding-top: 20px;
    }
}

.what-btn {
    padding: .75rem 1.5rem;
    width: 15%;
}

.treatments-p {
    width: 245px;
    @include mobile-break-width {
        width: 395px;
    }
}

.appointments {
    p {
        width: 245px;
        @include mobile-break-width {
            width: 346px;
        }
    }
}

.testing {
    p {
        width: 245px;
        @include mobile-break-width {
            width: 314px;
        }
    }
}